In [46]:
def solution(n, costs):
    sort_costs=sorted(costs, key=lambda x:x[2])
    connect_list = [-1 for _ in range(n)]
    answer = 0
    for cost in sort_costs:
        first = cost[0]
        second = cost[1]
        if first in connect_list and second in connect_list:
            pass
        else:
            connect_list[first] = first
            connect_list[second] = second
            answer += cost[2]
        if -1 not in connect_list:
            break
    print(connect_list)
    return answer

In [47]:
solution(7,  [[2, 3, 7], [3, 6, 13], [3, 5, 23], [5, 6, 25], [0, 1, 29], [1, 5, 34], [1, 2, 35], [4, 5, 53], [0, 4, 75]])

[0, 1, 2, 3, 4, 5, 6]

125

In [49]:
def solution(n, costs):
    sort_costs=sorted(costs, key=lambda x:x[2])
    connect = set([sort_costs[0][0]])
    answer = 0
    while len(connect) != n:
        for cost in sort_costs:
            first = cost[0]
            second = cost[1]
            if first in connect and second in connect: # 연결된 경우
                continue
            if first in connect or second in connect:
                connect.update([first, second])
                answer += cost[2]
                break
    return answer

In [50]:
solution(7,  [[2, 3, 7], [3, 6, 13], [3, 5, 23], [5, 6, 25], [0, 1, 29], [1, 5, 34], [1, 2, 35], [4, 5, 53], [0, 4, 75]])

159